<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body data-layout="topnav">
<div class="wrapper">
    <div class="content-page">
        <div class="content">
            <div th:replace="fragments.html :: top-nav"></div>
            <div th:replace="fragments.html :: main-nav"></div>
            <div class="container-fluid">
                <div th:replace="fragments.html :: travel-info"></div>
                <div th:replace="fragments.html :: travel-menu (travelMenu='members')"></div>

                <div th:replace="fragments.html :: member-list(members=${travel.managers},isManager=${true})"></div>
                <div th:replace="fragments.html :: member-list(members=${travel.members},isManager=${false})"></div>

            </div> <!-- container -->
        </div> <!-- content -->
        <footer th:replace="fragments.html :: footer"></footer>
    </div>
</div>
<div th:replace="fragments.html :: js-zip"></div>
</body>
</html>