<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body data-layout="topnav">
<div class="wrapper">
    <div class="content-page">
        <div class="content">
            <div th:replace="fragments.html :: top-nav"></div>
            <div th:replace="fragments.html :: main-nav"></div>
            <div class="container-fluid">
                <div th:replace="fragments.html :: travel-banner"></div>
                <div th:replace="fragments.html :: travel-info"></div>
                <div th:replace="fragments.html :: travel-menu (travelMenu='info')"></div>
                <div class="row px-3 justify-content-center bg-light">
                    <div class="col-10 pt-3" th:utext="${travel.fullDescription}"></div>
                </div>
            </div> <!-- container -->
        </div> <!-- content -->
        <footer th:replace="fragments.html :: footer"></footer>
    </div>
</div>
</body>
</html>