<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <title>PIPEASSET</title>
</head>
<body>
<!-- header -->
<div class="headerTop">
    <div class="contInner">
        <div class="gnbRight">
            <a href="#" class="btnTxt">로그인</a>
            <a href="#" class="btnTxt">관리자</a>
            <a href="#" class="sitemapBtn"><img src="/img/sitemap.svg" alt="사이트맵" /></a>
        </div>
    </div>
</div>
<div class="headerNav">
    <div class="contInner">
        <a href="#" class="logo"><img src="/img/logo.svg" alt="파이프에셋 PIPEASSET 로고" /></a>
        <ul class="nav">
            <li><a href="">제품소개</a></li>
            <li><a href="">파이프에셋</a></li>
            <li><a href="">요금결제</a></li>
            <li><a href="">게시판</a></li>
            <li><a href="">관리자메뉴</a></li>
            <!-- <li><a href="">마이페이지</a></li> -->
        </ul>
    </div>
</div>
<!-- //header -->


<!-- mainVisual -->
<div class="mainVisual">
    <div class="mainBG BG01">
        <div class="contInner">
            <h2>파이프에셋</h2>
            <p>파이프에셋은 하수관거 조사 보고서 작성 기능과</br>
                하수관거 조사데이터를 통합보존관리하는 시스템을 </br>
                제공하고 있습니다.</p>
            <input type="button" value="바로가기" onclick=""></input>
        </div>
    </div>
    <!--
    <div class="mainBG BG02">
        <div class="contInner">
            <h2>사용방법</h2>
            <p>파이프에셋 웹 시스템 사용매뉴얼과 </br>
                사용 영상 가이드를 제공하고 있습니다.</p>
            <input type="button" value="바로가기" onclick=""></input>
        </div>
    </div>
    <div class="mainBG BG03">
        <div class="contInner">
            <h2>요금결제</h2>
            <p>파파이프에셋은 정액시간제요금으로 이용가능하며, 기본적인 운영비  </br>
                충당을 위해서 적정수준의 시간당 이용요금을 받고 있습니다. </p>
            <input type="button" value="바로가기" onclick=""></input>
        </div>
    </div>
    -->
    <div class="slideBtn">
        <div class="top"><div class="inner"><a href="" class="hover">파이프에셋</a><img src="/img/mainVisualBtnOver.svg" alt="파이프에셋 버튼" /></div></div>
        <div class="left"><div class="inner"><a href="">사용방법</a><img src="/img/mainVisualBtn.svg" alt="사용방법 버튼" /></div></div>
        <div class="right"><div class="inner"><a href="">요금결제</a><img src="/img/mainVisualBtn.svg" alt="요금결제 버튼" /></div></div>
    </div>
</div>
<!-- //mainVisual -->


<!-- quick section -->
<div class="QuickSection">
    <div class="contInner">
        <div class="section">
            <a href=""><img src="/img/quickSection01.svg" alt="마이페이지 이미지" />
                마이페이지</a>
        </div>
        <div class="section">
            <a href=""><img src="/img/quickSection02.svg" alt="결제내역조회 이미지" />
                결제내역조회</a>
        </div>
        <div class="section">
            <a href=""><img src="/img/quickSection03.svg" alt="자유게시판 이미지" />
                자유게시판</a>
        </div>
        <div class="section">
            <a href=""><img src="/img/quickSection04.svg" alt="FAQ 이미지" />
                FAQ</a>
        </div>
    </div>
</div>
<!-- //quick section -->




<!-- Main board -->
<div class="MainBoard">
    <div class="boardCont">
        <div class="tit">
            <h2>공지사항</h2>
            <a href=""><img src="/img/MainBoardPlus.svg" alt="더보기" /></a>
        </div>
        <div class="noticeCont">
            <ul>
                <li> <a href=""> 연말 코인충전 중단안내</a> <span>21-05-01</span></li>
                <li> <a href="">파이프에셋 사용요금(변경안내)</a> <span>21-05-01</span></li>
                <li> <a href="">파이프에셋 무료사용 중단 안내</a> <span>21-05-01</span></li>
                <li> <a href="">교육이수 표기 관련 참고사항</a> <span>21-05-01</span></li>
            </ul>
        </div>
    </div>
    <div class="boardCont">
        <div class="tit">
            <h2>파이프에셋 사용방법</h2>
            <a href=""><img src="/img/MainBoardPlus.svg" alt="더보기" /></a>
        </div>
        <div class="useCont">
            <h3>사용방법 영상 가이드</h3>
            <a href="" class="goBtn">
                바로가기
            </a>
        </div>
    </div>
    <div class="boardCont education">
        <h2>하수관로<br>
            CCTV조사∙판독 <br>
            실무과정</h2>
        <div class="eduText">
            <a href="">교육접수<span><img src="/img/MainBoardPlusWhite.svg" alt="더보기" /></span></a>
            <a href="">일정안내<span><img src="/img/MainBoardPlusWhite.svg" alt="더보기" /></span></a>
            <a href="">교육장 안내<span><img src="/img/MainBoardPlusWhite.svg" alt="더보기" /></span></a>
        </div>
        <div class="eduInfo">
            <h2>문의안내</h2><span class="time">운영 09:00~18:00</span> <br />
            <span>업무관련. 02-3156-7836  &nbsp; cessel@kwwa.or.kr<br />
                시스템관련. 02-3156-7836  &nbsp; cessel@kwwa.or.kr</span>

        </div>
    </div>

</div>
<!-- //Main board -->


<!-- footer -->
<div class="footerTop">
    <div class="contInner">
        <a href="">개인정보취급방침</a>
        <a href="">이용약관</a>
        <div class="link">
            <img src="/img/footLink01.png" alt="환경부" />
            <img src="/img/footLink02.png" alt="한국상하수도협회" />
        </div>
    </div>
</div>
<div class="footBottom">
    <div class="contInner">
        <p>
            상호명 한국상하수도협회     <span>|</span>     주소 [07379] 서울특별시 영등포구 대림로 244(대림동 651-5) <br />
            사업자번호 110-82-09245     <span>|</span>    대표자명 : 이용섭<br />
            TEL 02-3156-7836     <span>|</span>    FAX 02-3156-7827     <span>|</span>    E-MAIL vessel@kwwa.or.kr<br /><br />

            COPYRIGHT© 2010 KOREA WATER AND WASTEWATER WORKS ASSOCIATION ALL RIGHTS RESERVED.<br />
        </p>
        <div class="footLogo">
            <img src="/img/footLogo.png" alt="파이프에셋 흑백 로고" />
        </div>
    </div>
</div>

<!-- //footer -->


</body>
</html>